{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
    <div class="container">
        <h1 class="h3 mb-3 font-weight-normal display-4 text-center mt-5">Register</h1>
        
        {{ form_start(registrationForm) }}
            {{ form_row(registrationForm.nom) }}
            {{ form_row(registrationForm.prenom) }}
            {{ form_row(registrationForm.email) }}
            {{ form_row(registrationForm.plainPassword, {
                label: 'Password'
            }) }}
            {{ form_row(registrationForm.tel) }}
            {{ form_row(registrationForm.imageFile) }}
            <br>
            <div class="input-group">
                <div class="input-group-text">
                    {{ form_row(registrationForm.agreeTerms) }}
                </div>
            </div>
            <button type="submit" class="btn btn-success mt-4">Register</button>
        {{ form_end(registrationForm) }}
    </div>
{% endblock %}
